//
// accordion
//
.accordion {
	.section--header {
		cursor: pointer;
		position: relative;

		&:after {
			content: '';
			border: solid $black;
			border-width: 0 1px 1px 0;
			display: inline-block;
			padding: 0.15em;
			position: absolute;
			top: 0.3em;
			right: 0.2rem;
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			pointer-events: none;
		}

	}
	.section--content {
		max-height: 0;
		overflow: hidden;
		transition: 200ms max-height ease;
	}
	&.open {
		.section--header:after {
			top: 0.5em;
			transform: rotate(-135deg);
			-webkit-transform: rotate(-135deg);
		}
		.section--content {
			display: block;
			max-height: 10000px;
		}
	}
}
.black .accordion .section--header:after {
	border-color: $white;
}

.panels.overlap {
	.accordion {
		.section--header {
			&:after {
				top: 0.8em;
				right: 0.7rem;
			}
		}
		&.open {
			.section--header:after {
				top: 1em;
			}
		}
	}
}

//
// table layout
//
dl.table {
	> div {
		border-top: $border-thin;
		padding: $padding 0;
		dt + div.long {
			margin-top: $padding-text-top;
		}
	}
	a {
		display: inline;
	}
	dt { // key
		&.empty {
			display: none;
			padding: 0;
		}
	}
	p {
		margin: 0;
	}
	dd + dd,
	dt + dd.long p,
	dd.long p + p {
		margin-top: $padding-text-top;
	}
}
@media screen and (min-width: 768px){
	dl.table {
		> div {
			display: flex;
			flex-wrap: wrap;
			div {
				flex: 1 0 50%;
			}
			dt + div.long {
				flex-basis: 100%;
			}
		}
		dt { // key
			flex: 1 0 50%;
			padding-right: 0.3em;
		}
		dd { // value
			flex: 1 0 50%;
			&.long {
				flex: 1 0 100%;
			}
		}
	}
}
.black {
	dl.table > div {
		border-color: $white;
	}
}

dl.table {
	.list {
		margin: $padding 0;
		a {
			display: flex;
			text-decoration: none;
		}
	}
}

//
// card
//

.card {
	> a {
		display: flex;
	}
	.title,
	.content {
		padding: $padding;
	}
	.title {
		font-family: $mono;
		font-size: $font-small;

		.count {
			display: block;
			color: $grey;
			text-align: right;
			margin-left: 0.2em;
			float: right;
			&:after {
				content: '→';
				padding-left: 0.2em;
			}
		}

		h4,
		h5 {
			font-family: inherit;
			font-size: inherit;
			margin: 0;
		}
		h4 {
			hyphens: none;
			word-break: break-word;
			flex: 1;
		}
		h5 {
			width: 100%;
			order: 10;
		}
	}
}

.list {
	.card .title {
		display: flex;
		flex-wrap: wrap;
		.count {
			float: none;
			flex: 0 1 auto;
			order: 2;
			// align-self: center;
		}
	}
}

/*
* .gallery .card a {height: 100%;} is wrong for mlh tourstops
*/
.cards,
#map {
	.card > a {
		flex-direction: column;
		height: 100%;
	}
}
.card.list-element > a {
	flex-direction: row;
}

.entityinfo .card {
	+ .card {
		margin-top: 2px;
	}
	figure {
		width: 5rem;
		height: 5rem;
		display: flex;
		overflow: hidden;
		img {
			object-position: center;
			object-fit: cover;
		}
	}
	.title {
		flex: 1;
		align-content: flex-start;
	}
	h5 {
		color: $grey;
	}
}
.entityinfo .card a:hover {
	h5 {
		color: $blue-active;
	}
}

//
// cards layout
//

.cards .card.no-thumb {
	figure {
		display: none;
		// min-height: 15vw;
		// height: 50%;
	}
}

.cards.fixed-heights {
	.card {
		figure {
			height: 15vw;
			overflow: hidden;
			display: flex;
			img {
				object-fit: cover;
				object-position: center;
			}
		}
		&.\33 d {
			figure {
				img {
					object-fit: contain;
				}
			}
		}
		.title h4 {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
}

.card.image.panorama {
	figure {
		overflow: hidden;
		img {
			min-height: 140%;
			min-width: 140%;
			width: auto;
			height: auto;
		}
	}
}

.black .card {
	&.\33 d,
	&.image.panorama,
	&.image.object {
		figure {
			img {
				mix-blend-mode: screen;
				filter: contrast(125%);
			}
		}
	}
}

//
// gallery
//
.gallery {
	.preview.audio {
		background-color: $dark;
	}
}

#map .card {
	width: 40vw;
}
@media screen and (min-width: 768px){
	#map .card {
		width: 20vw;
	}
}


//
// list layout
//
$thumbnailSize: 2.5em;
.list .card,
.card.list-element {
	> a {
		min-height: $thumbnailSize;
	}
	figure {
		width: $thumbnailSize;
		height: $thumbnailSize;
		display: flex;
		overflow: hidden;
		img {
			object-position: center;
			object-fit: cover;
		}
	}
	.title {
		flex: 1;
		align-items: center;
		padding-top: 2px;
		padding-bottom: 2px;
	}
}

//
// list count
//

.presentation .list {
	padding-right: 4px;
}

body.black {
	.presentation.collection .grid {
		padding-top: 1px;
	}
}

.cards.grid {
	padding: 2px;
}
.cards,
.gallery {
	.card {
		padding: 2px;
	}
}
.list {
	.card + .card {
		margin-top: 2px;
	}
}

.card {
	h1, h2, h3, p {
		margin: $padding 0;
	}
}
