body {
	background-color: $black;
	color: $black;
}

//
// text selection
//

::selection {
	background-color: $blue;
}

//
// bars
//

.bar.history {
	border-bottom: $border;
}
body.home,
body.white {
	> .page-wrapper {
		> nav.archive,
		> div {
			border-left: $border;
			border-left-color: $white;
		}
	}
}
body.black > .page-wrapper {
	border-left: $border;
	border-left-color: $white;
}

.bar.archive,
body.home .archive-bar {
	border-top: $border;
	border-color: $white;
}

//
// light theme
//
.white {
	background-color: $white;
}
.light {
	background-color: $light;
}
.dark {
	background-color: $dark;
}
.black {
	background-color: $black;
}

.white,
.whites,
.light,
.lights,
.white main {
	color: $black;
	.card {
		a {
			background-color: $light;
		}
		figure {
			background-color: $light-active;
		}
	}
}
.black,
.blacks,
.dark,
.darks,
.black main {
	color: $white;
	.card {
		a {
			background-color: $dark;
		}
		figure {
			background-color: $dark-active;
		}
	}
}

.card > a {
	user-select: none;
	transition: background-color 150ms ease;
	&:hover {
		color: $white !important;
		background-color: $blue !important;
		img {
			mix-blend-mode: screen;
			filter: contrast(115%);
		}
	}
}
