// media

@media screen and (min-width: 768px){

	.presentation {

		.section--header {
			display: none;
		}

		.section--content {
			user-select: none;
			flex: 1;
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 1px;

			.presentation-container,
			canvas {
				display: block;
				width: 100%;
				height: 100%;
			}

		}

		&.image {
			figure {
				pointer-events: none;
				width: 100%;
				// padding: $border-width;
				img {
					display: inline-block;
					width: 100%;
					height: auto;
				}
			}
		}

		&.video,
		&.audio {
			min-height: 100%;
			.transcript {
				h4 {
					font-family: $mono;
				}
				padding: $padding-double;
				font-size: 1.05rem;
				line-height: 1.3;
			}
		}

		&.video.center,
		&.audio.center,
		&.panorama {
			display: flex;
			flex-direction: column;
			overflow: hidden !important;
			height: 100%;

			.section--content {
				align-items: center;
				display: flex;
			}
		}

		&.panel.collection {

			display: flex;
			flex-direction: column;

			.bar.controls {
				position: sticky;
				bottom: -1px;
				background-color: $blue;
			}
			.bar.load-more {
				text-align: center;
				color: $grey;
				padding: $padding;
				font-family: $mono;
			}

		}

		&.image,
		&.\33 d,
		&.map,
		&.liebling-house {
			overflow: hidden !important;
			display: flex;
			flex-direction: column;
			height: 100%;

			.section--content {
				max-height: 100%;
			}
		}

		&.image {
			figure {
				width: 100%;
				height: 100%;
				display: flex;
				img {
					width: 100%;
					height: auto;
					object-fit: contain;
					object-position: center;
					max-width: 100%;
					max-height: 100%;
				}
			}
		}

	}

}

@media screen and (max-width: 768px){

	.presentation {

		&.\33 d,
		&.map,
		&.liebling-house {

			.section--content {
				height: 60vh;
			}
		}

	}

}

.controls {
	z-index: 500;
	font-size: $font-small;
}


/*
// lazyloading
// https://github.com/aFarkas/lazysizes
img.lazyload,
img.lazyloading {
	filter: blur(8px);
}
img.lazyloaded {
	filter: blur(0);
}
*/
