// content

//
// home page
//
body.home {

	header#top {
		h1 {
			font-size: 6rem;
			z-index: 10;
			margin: $padding-box;
			margin-left: 0.75rem;
		}
		// border-top: $border;
		min-height: 65vh;
		position: relative;
		display: flex;
		// border-bottom: none;
		video {
			position: absolute;
			object-fit: cover;
			object-position: center;
			outline: none;
			pointer-events: none;
			min-width: 100%;
			min-height: 100%;
			z-index: 0;
		}
	}

	nav.bar.history {
		display: none;
	}
	&.scrolled {
		header#top {
			margin-top: -$barWidth;
		}
		nav.bar.history {
			display: block;
		}
	}

	.archive-bar {
		display: flex;
		padding: 0 $padding;
		h1 {
			flex: 1;
			margin-left: 0.75rem;
		}
	}

	.activity {
		padding: 1px;
		// background-color: $light;
		// border-top: $border;
	}

	section.projects,
	section.on-display {
		.grid {
			padding: 0;
		}
		.cards {
			position: sticky;
			top: $barWidth * 1.2;
			.card {
				// padding: $padding-half;
				a {
					padding: 0 $padding;
				}
			}
		}
		figure {
			margin: $padding 0;
			display: block;
			img {
				object-fit: unset;
				width: 100%;
				height: auto;
			}
		}
	}
	section.projects {
		.cards {
			.card {
				width: 100%;
			}
		}
	}
	/*
	section.on-display {
		.title {
			padding: $padding-text;
		}
		h5 + .title {
			padding-top: 0;
		}
		.card {
			// border-color: $black;
		}
	}
	*/

	#archive-preview {

		section {
			margin-top: 2rem;
			margin-bottom: 2rem;
			> h4 {
				padding: $padding-text-side;
			}
		}

		padding: $padding-box;
		.cards.grid {
			padding: 0;
		}

	}

	.archive-search {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 6rem;
		margin-bottom: 9rem;
		h2 {
			padding-left: 0;
		}
		form {
			background-color: $dark;
			margin-top: 1rem;
			display: flex;
			.input {
				flex: 1;
			}
			input {
				outline: none;
			}
		}
	}

}

@media (max-width: 38rem) {
    body.home header#top h1 {
        font-size: calc(15vw - 0.6rem);
    }
}

//
// archive page
//
body.archive {

	main {
		input {
			width: 100%;
			outline: none;
			background-color: $dark;
			&:focus {
				background-color: $blue;
			}
			&::placeholder {
				color: $black;
			}
		}
		button {
			width: 100%;
			background-color: $dark;
			&:hover {
				background-color: $blue;
			}
		}
		form {
			margin-top: 1rem;
			.input {
				margin-bottom: 2px;
			}
		}
		.filters {
			.card {
				background-color: $dark;
			}
			.active {
				background-color: $blue;
			}
		}
	}

	.collection .bar {
		position: sticky;
		bottom: 0;
		background-color: $blue;
	}

}

//
// item page
//
body.item.landmark,
body.file {
	header h1 {
		font-family: $mono;
	}
}

main {
	> .content {
		padding: $padding $padding-double;
	}
	header {
		margin-bottom: 1rem;
		.subtitle + div {
			border-top: $border-thin;
		}
	}
	section {
		// border-top: 1px solid $white;
		// margin-top: 1rem;
		ul {
			margin-bottom: 1rem;
		}
	}
}

body.multipanel {

	.tab + .tab {
		border-top: $border-thin;
	}
	.tab.info {
		border-top: none;
		.section--header {
			display: none;
		}
	}

	.tab.meta dl.table {
		font-size: $font-small;
	}
	.tab.info,
	.tab.meta {
		.section--content {
			font-family: $mono;
		}
	}
}
body.entity.black {
	.subtitle + div {
		border-color: $white;
	}
	.tab .table {
		border-color: $dark;
	}
	.tab + .tab {
		border-color: $white;
	}
}



section.transcript {
	.section--content {
		padding: $padding-text;
	}
}

//
// content in cda bar
//
body.about,
.bar.cda .about {
	.content {
		padding: $padding-double;
	}
	section {
		margin-bottom: 2rem;
	}
	.content li {
		margin: 0.3em 0;
		h4 {
			margin: 0;
		}
	}
	.supporter-logos {
		figure {
			margin-bottom: $padding-double;
		}
		img {
			width: auto;
			height: 3.5rem;
		}
	}
	.footer-nav {
		font-size: $font-small;
		li {
			display: inline-block;
			a {
				margin-right: $padding-text-inside;
			}
		}
	}
	h4 {
		margin: $padding-text;
	}

}
