# Content files
# ------------

.lock
.mp4
*.mp4
.unityweb
*.unityweb

content/*
/content/*

# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/media/*
!/media/index.html

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
*.sess
!/site/sessions/index.html

# License
# ---------------
/site/config/.license
