[submodule "kirby"]
	path = kirby
	url = https://github.com/getkirby/kirby.git
[submodule "site/plugins/kirby-builder"]
	path = site/plugins/kirby-builder
	url = https://github.com/TimOetting/kirby-builder.git
[submodule "site/plugins/kirby-entitiessection"]
	path = site/plugins/kirby-entitiessection
	url = https://github.com/moritzebeling/kirby-entitiessection.git
[submodule "assets/apps/liebling-house"]
	path = assets/apps/liebling-house
	url = https://moritzebeling@bitbucket.org/cdaweimar/liebling-house-world.git
[submodule "site/plugins/kirby-bettersearch"]
	path = site/plugins/kirby-bettersearch
	url = https://github.com/bvdputte/kirby-bettersearch.git
[submodule "site/plugins/kirby-sitemapper"]
	path = site/plugins/kirby-sitemapper
	url = https://gitlab.com/cre8ivclick/sitemapper.git
