@import '../variables';

@mixin arrowBeforeLink {
    &:before {
        content: '→';
        display: inline-block;
        margin-right: 0.3em;
    }
}
a[target=_blank]{
    @include arrowBeforeLink;
}
.content {
    padding: $padding-double;
}
section {
    margin-bottom: 2rem;
}
.content li {
    margin: 0.3em 0;
    h4 {
        margin: 0;
    }
}
.supporter-logos {
    figure {
        margin-bottom: $padding-double;
    }
    img {
        width: auto;
        height: 3.5rem;
    }
}
.footer-nav {
    font-size: $font-small;
    li {
        display: inline-block;
        a {
            @include arrowBeforeLink;
            margin-right: 0.6rem;
        }
    }
}
h4 {
    margin: $padding-text;
}
