@import '../../variables';

//
// CDA Bar left
//
body {
	padding-left: $barWidth;
}
.page-wrapper {
	transform: translateX(0);
	transition: transform 400ms ease;
}
aside#cda {

	.bar {
		position: fixed;
		height: 100%;
		width: $barWidth;
		top: 0;
		left: 0;
		z-index: 3000;

		cursor: e-resize;
		color: $white;
		background-color: $black;
		padding: 0;

		transition: width 400ms ease;

		border-right: $border-white;

		.about {
			display: none;
		}

	}
	&.open .bar {
		width: 85vw;
		cursor: default;
		border-right-color: $white !important;
		overflow-y: auto;
		.panel {
			display: block;
		}
		.about {
			display: block;
		}
	}

	a.logo {
		display: block;
		padding: 0.66rem 0.21rem;
		transform: translateX(0);
		transition: transform 400ms ease;
		text-align: center;
		svg {
			width: auto;
			height: $barWidth * 2;
			rect, path {
				fill: $white;
			}
		}
		&.full {
			display: none;
			padding-left: 0.4rem;
			svg {
				height: $barWidth * 3;
			}
		}
	}
	&.open {
		a.logo {
			text-align: left;
			&.abbr {
				display: none;
			}
			&.full {
				display: block;
			}
		}
	}
	button.bar-close {
		display: none;
		top: 1rem;
		right: 1rem;
		position: absolute;
		font-size: 1.2rem;
	}
	&.open {
		button.bar-close {
			display: block;
		}
	}

	.glass {
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		display: none;
		z-index: 2999;
		cursor: w-resize;
		background-color: $black;
		opacity: 0.7;
	}
	&.open {
		.glass {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

}

body.about-open {
	overflow: hidden;
}


aside#cda.open ~ .page-wrapper {
 transform: translateX( calc( 85vw - #{$barWidth} ) );
}
@media screen and (min-width: 768px){
	aside#cda.open .bar {
		width: 50vw;
	}
	aside#cda.open ~ .page-wrapper {
		transform: translateX( calc( 50vw - #{$barWidth} ) );
	}
}

//
// logo adjustments
//
body.home {
	aside#cda {
		.bar {
			border: none;
		}
		a.logo {
			transform: translateY(0.6rem);
		}
		&.scrolled a.logo {
			transform: translateY(0);
		}
	}
}
body.light,
body.white {
	aside#cda {
		.bar {
			border-right: $border;
		}
		a.logo {
			transform: translateX(1px);
		}
	}
}
