@import '../../variables';

//
// History Bar Top
//

nav.bar.history {
	font-family: $favorit;

	position: sticky;
	background-color: $white;
	top: -1px;
	color: $black;
	display: flex;
	flex-wrap: nowrap;
	z-index: 2000;

	white-space: nowrap;
	overflow: hidden;

	h3 {
		margin: 0;
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: auto;
	}
	.current .item,
	a:hover {
		color: #00f;
	}
	ol {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;

		display: flex;
		overflow-x: hidden;

		div {
			display: flex;
			flex-wrap: nowrap;
		}
		&.alignright {
			justify-content: flex-end;
			position: absolute;
			&:before {
			  content: '';
			  position: absolute;
				z-index: 10;
			  top: 0;
			  left: 0;
			  display: block;
			  width: 3rem;
			  height: 100%;
			  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
			}
		}

		li {
			a {
				padding-left: 0.3em;
				padding-right: 0.3em;
				&:before {
					content: '→';
					display: inline-block;
					margin-right: 0.6rem;
				}
			}
			&.double a {
				overflow: hidden;
				width: 1.4em;
			}
		}
	}

}
