@import '../../variables';

//
// card
//

.card {
	> a {
		display: flex;
	}
	.title,
	.content {
		padding: $padding;
	}
	.title {
		font-family: $mono;
		font-size: $font-small;

		.count {
			display: block;
			color: $grey;
			text-align: right;
			margin-left: 0.2em;
			float: right;
			&:after {
				content: '→';
				padding-left: 0.2em;
			}
		}

		h4,
		h5 {
			font-family: inherit;
			font-size: inherit;
			margin: 0;
		}
		h4 {
			hyphens: none;
			word-break: break-word;
			flex: 1;
		}
		h5 {
			width: 100%;
			order: 10;
		}
	}
}

.list .card,
.list-element {
	.title {
		display: flex;
		flex-wrap: wrap;
		.count {
			float: none;
			flex: 0 1 auto;
			order: 2;
			// align-self: center;
		}
	}
}

/*
* .gallery .card a {height: 100%;} is wrong for mlh tourstops
*/
.cards,
#map {
	.card > a {
		flex-direction: column;
		height: 100%;
	}
}
.card-element > a {
	flex-direction: column;
}
.card.list-element > a {
	flex-direction: row;
}

.entityinfo .card {
	+ .card {
		margin-top: 2px;
	}
	figure {
		width: 5rem;
		height: 5rem;
		display: flex;
		overflow: hidden;
		img {
			object-position: center;
			object-fit: cover;
		}
	}
	.title {
		flex: 1;
		align-content: flex-start;
	}
	h5 {
		color: $grey;
	}
}
.entityinfo .card a:hover {
	h5 {
		color: $blue-active;
	}
}

//
// cards layout
//

.cards .card.no-thumb {
	figure {
		display: none;
		// min-height: 15vw;
		// height: 50%;
	}
}

.cards.fixed-heights {
	.card {
		figure {
			height: 15vw;
			overflow: hidden;
			display: flex;
			img {
				object-fit: cover;
				object-position: center;
			}
		}
		&.\33 d {
			figure {
				img {
					object-fit: contain;
				}
			}
		}
		.title h4 {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
}

.card.image.panorama {
	figure {
		overflow: hidden;
		img {
			min-height: 140%;
			min-width: 140%;
			width: auto;
			height: auto;
		}
	}
}

.black .card {
	&.\33 d,
	&.image.panorama,
	&.image.object {
		figure {
			img {
				mix-blend-mode: screen;
				filter: contrast(125%);
			}
		}
	}
}
