// typography

//
// font
//
body {
	font-family: $favorit;
}
pre,
code,
blockquote,
h5,
.mono {
	font-family: $mono;
}

//
// font sizes
//
html {
	font-size: $font-size;
}
h1 {
	font-size: $font-large;
	margin: $padding-box-top $padding-text-side;
	line-height: 0.95;
}
h2,
.highlight {
	font-size: $font-medium;
	line-height: 1.1;
}
h2,
h3 {
	margin: $padding-text;
}
body,
h3,
h4,
h5 {
	font-size: $font-size;
	line-height: 1.2;
}
h3,
h4,
h5 {
	margin: $padding-text;
}
h6 {
	font-size: $font-small;
	margin: $padding-text;
	line-height: 1.3;
}

.content {
	padding: 0 $padding-double;
	h2 {
		padding-right: 20%;
	}
	p {
		margin: $padding-text;
	}
	/*
	.highlight:last-child p {
		// margin-bottom: 0;
	}
	*/
}
body.entity main .content {
	padding: $padding $padding-double;
}


//
// buttons and links
//

p,
dl,
.text {
	a {
		text-decoration: underline;
		text-decoration-color: $grey-light;
		// not supported yet text-underline-offset: 1em;
	}
}
.black {
	p,
	dl,
	.text {
		a {
			text-decoration-color: $grey-dark;
			&:hover {
				text-decoration-color: $blue;
				color: $blue;
			}
		}
	}
}


//
// word braking
//

p {
	-webkit-hyphenate-limit-chars: auto 9;
	-webkit-hyphenate-limit-lines: 2;
	-ms-hyphenate-limit-chars: auto 9;
	-ms-hyphenate-limit-lines: 1;
	hyphens: auto;
}

.file .title,
.filename,
.url,
.path {
	-ms-word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.bodytext {
	padding: $padding-text;
	font-size: $font-size;
	ul {
		li {
			list-style: disc inside;
		}
	}
	ol {
		li {
			list-style: decimal inside;
		}
	}
	li a {
		display: inline;
	}
}

.section--header {
	user-select: none;
	font-family: $mono;
	// text-transform: uppercase;
	// letter-spacing: 0.2em;
	// font-size: $font-medium;
}

.cards,
.list,
.gallery {
	.card {
		.title {
			font-family: $mono;
			font-size: $font-small;
			hyphens: none;
			word-break: break-word;
			margin: 0;
			padding: $padding-text-inside;
		}
	}
}
