@import 'normalize';
@import 'reset';

@import 'variables';

@import 'components/typography';

@import 'components/navigation';

@import 'components/layout';

@import 'components/collections';

@import 'components/theme';

@import 'components/media';

body {
    &.home {
        @import 'templates/home';
    }
    &.archive {
        @import 'templates/archive';
    }
    &.entity {
        @import 'templates/entity';
    }
    &.imprint {
        @import 'templates/imprint';
    }
}

body.about,
.bar.cda .about {
	@import 'templates/about';
}

/* test */