@import '../variables';


html,
body {
	width: 100%;
	max-width: 100%;
	min-height: 100%;
}

body {
	// flex between cda bar and main page content
	> .page-wrapper {
		flex-direction: column;
		min-height: 100%;
	}
	&.home,
	&.regular {
		.page-wrapper {
			height: unset;
			min-height: 100vh;
		}
	}
}

@media screen and (min-width: 768px){
	// specifics for large screens

	body {
		> .page-wrapper {
			height: 100%;
			height: 100vh;
		}
	}

	.presentation {
		.section--content {
			flex: 1;
		}
	}

	// multipanel view, where grid adjust to screen height and can be scrolled seperately
	body.multipanel {

		height: 100%;
		max-height: 100vh;

		> .page-wrapper {
			display: flex;

			> nav {
				flex-grow: 0;
			}

			.panels {

				width: 100%;
				overflow: hidden;

				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: 1px;

				.panel {
					// panel should be reduced to screen height and scrollable
					// height: unset works in safari
					// height: 100% works in ff
					// max-height: 100% works in s && ff, bot not in chrome
					height: 100%;
					overflow-y: auto;
					transition: width 200ms ease;
				}
			}
		}
	}

	// overlapping layout, with one non-scrollable panel in the background and the other free floating above
	// this layout needs to switched on and off seamlessly
	.panels.overlap {
		position: relative;

		main {
			position: absolute !important;
			top: 3rem;
			left: 3rem;
			padding: 0;
			padding-bottom: 8rem;
			z-index: 10;
			height: 100%;
			/*
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			padding: 0;
			*/
			> .content {
				padding: 0;
				/*
				position: absolute;
				top: 2rem;
				left: 2rem;
				width: 28vw;
				padding-bottom: 5.5rem;
				*/
			}
			.tab {
				margin-top: 4px;
				border-top: none !important;
				width: 100%;
				h3 {
					margin: 0;
					padding: $padding;
					background-color: $white;
				}
				&.gallery {
					border-top: none;
					h3 {
						margin-bottom: 4px;
					}
				}
				&.collection,
				&.cards {
					display: block;
				}
				&.cards {
					padding: 0;
					.card {
						padding: 0;
						margin-top: 4px;
						&:nth-child(odd){
							padding-right:2px;
						}
						&:nth-child(even){
							padding-left:2px;
						}
					}
				}
				&.info,
				&.meta,
				&.list {
					border-top: none;
					background-color: $white;
					.section--content {
						padding: 0 $padding;
						.list {
							padding-bottom: $padding;
						}
					}
					h3 + .section--content {
						padding-top: 0;
					}
				}
				&.collection {
					margin-top: 4px !important;
				}
			}
			header {
				background-color: $white;
				padding: 0 $padding;
				display: inline-block;
			}
			header + .tab.info {
				margin-top: 0;
				padding-top: $padding;
			}
			.gallery {
				padding: 0;
				.card {
					padding: 0;
					margin-bottom: 4px;
				}
			}
		}
		.panel.presentation {
			width: 100%;
			position: absolute;
			height: 100%;
		}
		main.tour {
			.tab.list {
				background-color: transparent;
				.section--content {
					padding: 0;
					.list {
						padding: 0;
					}
				}
			}
		}
	}

	.grid [class*="col"].panel {
		position: sticky;
	}

}

.preview .section--header {
	display: none;
}

.tab.meta {
	i {
		font-style: inherit;
		display: inline-block;
		margin: 0 0.2em;
	}
}

main {
	> .content {
		padding: $padding $padding-double;
	}
	header {
		.subtitle + div {
			border-top: $border-thin;
		}
	}
	.tab + .tab {
		margin-top: 1rem;
	}
}

body.multipanel {

	.tab + .tab {
		border-top: $border-thin;
	}
	.tab.info {
		border-top: none;
		.section--header {
			display: none;
		}
	}

	.tab .cards {
		padding: 0;
	}

	.tab.meta dl.table {
		font-size: $font-small;
	}
	.tab.info,
	.tab.meta {
		.section--content {
			font-family: $mono;
		}
	}
	// .tab.accordion + .tab.meta,
	.tab.accordion + .tab.list,
	.tab.info + .tab.meta {
		margin-top: 0;
	}
}


.panels.overlap {
	background-color: $light;
	header {
		h1 {
			hyphens: auto;
		}
	}
	main {
		.invitation {
			border-top: none !important;
			button,
			.button {
				display: block;
				width: 100%;
			}
		}
		.tab.info {
			div:first-child {
				border-top: none;
			}
		}
	}
}
