//
// Bars
//

.bar {

	user-select: none;
	display: flex;

	width: 100%;
	// height: $barWidth;
	padding: 0 0.5rem;
	flex-shrink: 0;

	a, button, .item {
		border: none;
		display: inline-block;
		padding: 0.4rem 0.4rem;
		&:hover {
			margin: 0;
			border-radius: 0;
		}
	}

	.left {
		flex: 1;
	}
	.right {
		text-align: right;
	}

	div > span {
		display: inline-block;
		padding: 0.4rem 0.4rem;
	}

	&.vertical{
		display: block;
		width: $barWidth;
		top: 0;
		padding: 0.4rem 0;
		a, button {
			padding: 0;
		}
	}

}

.sticky,
.sticky-top {
	position: sticky;
	top: -0.1px;
}
.sticky-bottom {
	position: sticky;
	bottom: -0.1px;
}

@import '2-navigation/cda';
@import '2-navigation/history';
@import '2-navigation/archive';
@import '2-navigation/pagination';
