//
// Bars
//

.bar {

	user-select: none;
	display: flex;

	width: 100%;
	// height: $barWidth;
	padding: 0 0.5rem;
	flex-shrink: 0;

	a, button {
		border: none;
		display: inline-block;
		padding: 0.4rem 0.4rem;
		&:hover {
			margin: 0;
			border-radius: 0;
		}
	}

	.left {
		flex: 1;
	}
	.right {
		text-align: right;
	}

	div > span {
		display: inline-block;
		padding: 0.4rem 0.4rem;
	}

	&.vertical{
		display: block;
		width: $barWidth;
		top: 0;
		padding: 0.4rem 0;
		a, button {
			padding: 0;
		}
	}

}

.sticky,
.sticky-top {
	position: sticky;
	top: -0.1px;
}
.sticky-bottom {
	position: sticky;
	bottom: -0.1px;
}

//
// CDA Bar left
//
body {
	padding-left: $barWidth;
}
.bar.cda {
	position: fixed;
	height: 100%;
	width: $barWidth;
	top: 0;
	left: 0;
	z-index: 3000;

	color: $white;
	background-color: $black;
	padding: 0;

	transition: width 400ms ease;

	a.logo {
		display: block;
		padding: 0.66rem 0.21rem;
		transform: translateX(0);
		transition: transform 400ms ease;
		svg {
			width: auto;
			height: $barWidth * 2;
			rect, path {
				fill: $white;
			}
		}
		&.full {
			display: none;
			svg {
				height: $barWidth * 3;
			}
		}
	}

	.bar-close {
		display: none;
		top: 1rem;
		right: 1rem;
		position: absolute;
		font-size: 1.2rem;
	}

	//
	// open and close
	//
	aside {
		display: none;
	}
}

.bar.cda + .glass {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	display: none;
	z-index: 2999;
	opacity: 0.5;
}
.bar.cda.open + .glass {
	display: block;
	width: 100%;
	height: 100%;
}

//
// open close mechanics
//
.page-wrapper {
	transform: translateX(0);
	transition: transform 400ms ease;
}
.bar.cda.open {
	width: 85vw;
	overflow-y: auto;
	padding-right: 1rem;
	a.logo {
		&.abbr {
			display: none;
		}
		&.full {
			display: block;
		}
	}
	aside {
		display: block;
		margin-top: 37vh;
	}
	.bar-close {
		display: block;
	}
}
.bar.cda.open ~ .page-wrapper {
	transform: translateX(75%);
}

@media screen and (max-width: 768px){
	.bar.cda.open ~ .page-wrapper {
		background-color: $white;
		* {
			opacity: 0;
		}
	}
}
@media screen and (min-width: 768px){
	.bar.cda.open {
		width: 51.5vw;
	}
	.bar.cda.open ~ .page-wrapper {
		transform: translateX(50%);
	}
}

//
// logo adjustments
//
body.home {
	.bar.cda a.logo {
		transform: translateY(0.6rem);
	}
}
body.home.scrolled {
	.bar.cda a.logo {
		transform: translateY(0);
	}
}
body.light,
body.white {
	.bar.cda a.logo {
		padding-right: 3px;
	}
}

//
// History Bar Top
//

nav.bar.history {

	position: sticky;
	background-color: $white;
	top: -1px;
	color: $black;
	display: flex;
	z-index: 2000;

	white-space: nowrap;
	overflow: hidden;
	h3 {
		margin: 0;
	}

	ol {
		// display: flex;
		width: unset;
		li {
			// display: flex;
			display: inline-block;
			&.current {
				color: #00f;
			}
			&.double {
				overflow: hidden;
				width: 1.2em;
			}
		}
		li {
			a {
				padding-left: 0.3em;
				padding-right: 0.3em;
				&:before {
					content: '→';
					display: inline-block;
					margin-right: 0.6rem;
				}
			}
		}
	}

}
/*
body.scrolled nav.bar.history {
	li.current {
		opacity: 1;
	}
}
*/

//
// Archive Bar bottom
//
nav.bar.archive {

	position: sticky;
	bottom: -1px;
	z-index: 1000;
	background-color: $black;
	color: $white;

}
body {
	// &.archive,
	&.home {
		nav.bar.archive {
			display: none;
		}
	}
}

//
// Media controls
//
.bar.controls {

	position: relative;
	background-color: $blue;
	color: $white;
	z-index: 100;
	display: flex;
	width: 100%;
	padding: 0 0.5rem;
	font-family: $mono;

	.left {
		flex: 1;
	}
	.right {
		flex: 1;
		text-align: right;
	}
	button {
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}

	.left span,
	.right span,
	span span {
		display: inline-block;
		padding: 0.5rem 0.5rem;
	}
	.message {
		padding: 0.5rem 0.5rem;
	}

	.tooltip {
		position: absolute;
		left: 0;
		bottom: 1.9rem;
		padding: 0.5rem 0.9rem;
		background-color: $blue-active;
	}

}

//
// Tourstop Pagination
//
nav.pagination {

	background-color: $blue;
	color: $black;
	font-family: $mono;
	width: unset;

	li {
		display: inline-block;
	}

	a {
		.title {
			display: none;
		}
	}

	a:hover {
		color: $blue-active;
	}
	li.current {
		color: transparent;
		a:hover {
			color: transparent;
		}
		a:after {
			content: '';
			display: block;
			background-color: $white;
			width: 0.7em;
			height: 0.7em;
			border-radius: 1em;
			margin-top: -0.9em;
		}
	}
}
