
body {
	background-color: $black;
	color: $black;
	transition: background-color 200ms ease;
}

//
// text selection
//

::selection {
	background-color: $blue;
}

//
// bars
//

.bar.history {
	border-bottom: $border;
}
// body.white,
body.home {
	> .page-wrapper {
		> nav.archive,
		> div {
			border-left: $border;
			border-left-color: $white;
		}
		.activity {
			border: none;
		}
	}
}
body.white .bar.archive {
	border-left: $border-white;
}

.bar.archive,
body.home .archive-bar {
	border-top: $border;
	border-color: $white;
}


.white {
	background-color: $white;
}
.light {
	background-color: $light;
}
.dark {
	background-color: $dark;
}
.black {
	background-color: $black;
}

.black,
.blacks,
.dark,
.darks {
	color: $white;
	.card {
		a {
			background-color: $dark;
			figure {
				background-color: $dark-active;
			}
		}
	}
}

.white,
.whites,
.light,
.lights,
.liebling-house,
.liebling-house.black {
	color: $black;
	.card {
		a {
			background-color: $light;
			figure {
				background-color: $light-active;
			}
		}
	}
}

.card > a,
.card > a figure,
button,
.button {
	transition: background-color 150ms ease;
}
.card > a {
	user-select: none;
	figure {
		background-color: $dark-active;
	}
}
.card > a:hover,
.card.active a {
	color: $white !important;
	background-color: $blue !important;
	figure {
		background-color: #33f;
	}
	img {
		mix-blend-mode: screen;
		filter: contrast(115%);
	}
	.count {
		color: $blue-active;
	}
}
.card.active > button {
	color: $white;
	background-color: $blue;
}

button,
.button {
	&.blue {
		color: $white;
		background-color: $blue;
		&:hover {
			background-color: $blue-active;
		}
	}
}


/*
@media screen and (min-width: 768px){
	body.entity.file {
		main.panel {
			border-right: $border;
			border-color: $white;
		}
	}
}
*/
body.entity.file {
	.panel.presentation {
		background-color: $dark;
	}

}
