// media

//
// Media controls
//
.bar.controls {

	// position: relative;
	background-color: $blue;
	color: $white;
	z-index: 100;
	display: flex;
	width: 100%;
	padding: 0 0.5rem;
	font-family: $mono;
	height: unset;

	.left {
		flex: 1;
	}
	.right {
		flex: 1;
		text-align: right;
	}
	button {
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}

	.left span,
	.right span,
	span span {
		display: inline-block;
		padding: 0.5rem 0.5rem;
	}
	.message {
		padding: 0.5rem 0.5rem;
	}

	.tooltip {
		position: absolute;
		left: 0;
		bottom: 1.9rem;
		padding: 0.5rem 0.9rem;
		background-color: $blue-active;
	}

}

@media screen and (min-width: 768px){

	.presentation {

		.section--header {
			display: none;
		}

		.section--content {
			user-select: none;
			flex: 1;
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 1px;

			.presentation-container,
			canvas {
				display: block;
				width: 100%;
				height: 100%;
			}

		}

		&.image {
			figure {
				pointer-events: none;
				width: 100%;
				// padding: $border-width;
				img {
					display: inline-block;
					width: 100%;
					height: auto;
				}
			}
		}

		&.video,
		&.audio {
			min-height: 100%;
		}

		&.video.center,
		&.audio.center,
		&.panorama {
			display: flex;
			flex-direction: column;
			overflow: hidden !important;
			height: 100%;

			.section--content {
				align-items: center;
				display: flex;
			}
		}

		&.panel.collection {

			display: flex;
			flex-direction: column;

			.bar.controls {
				position: sticky;
				bottom: -1px;
				background-color: $blue;
			}
			.load-more {
				position: relative;
				height: 16rem;
			}

		}

		&.image,
		&.\33 d,
		&.map,
		&.liebling-house {
			overflow: hidden !important;
			display: flex;
			flex-direction: column;
			height: 100%;

			.section--content {
				max-height: 100%;
			}
		}

		&.image {
			figure {
				width: 100%;
				height: 100%;
				display: flex;
				img {
					width: 100%;
					height: auto;
					object-fit: contain;
					object-position: center;
					max-width: 100%;
					max-height: 100%;
				}
			}
		}

	}

}

.liebling-house .section-controls .bar.controls {
	position: absolute;
	bottom: 0;
}

@media screen and (max-width: 768px){

	.presentation {
		&.\33 d,
		&.map,
		&.liebling-house {
			.section--content {
				height: 60vh;
			}
		}
	}

}

.controls {
	z-index: 500;
	font-size: $font-small;
}

.presentation {
	.transcript {
		padding: $padding;
		div {
			padding: $padding;
		}
		h4 {
			font-family: $mono;
			margin-top: 0;
		}
		font-size: 1.05rem;
		line-height: 1.3;
	}
}

.empty-results {
	text-align: center;
	padding: $padding;
	font-family: $mono;
}

/*
// lazyloading
// https://github.com/aFarkas/lazysizes
img.lazyload,
img.lazyloading {
	filter: blur(8px);
}
img.lazyloaded {
	filter: blur(0);
}
*/


.is-loading {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	/* z-index: 30; */
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}
.is-loading:after {
	content: "";
	position: absolute;
	display: block;
	height: 2rem;
	width: 2rem;
	top: 50%;
	left: 50%;
	margin-left: -1rem;
	margin-top: -1rem;
	border-radius: 5rem;
	z-index: 1;
	background-color: $white;
	-webkit-animation: pulsate 1.5s ease infinite both;
	animation: pulsate 1.5s ease infinite both;
}
.white .is-loading:after {
	background-color: $black;
}
@keyframes pulsate {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
}
