// content

//
// home page
//
body.home {

	header#top {
		h1 {
			font-size: 6rem;
			z-index: 10;
			margin: $padding-box;
			margin-left: 0.75rem;
		}
		min-height: 65vh;
		transition: min-height 1000ms ease;
		position: relative;
		display: flex;
		video {
			position: absolute;
			object-fit: cover;
			object-position: center;
			outline: none;
			pointer-events: none;
			min-width: 100%;
			min-height: 100%;
			z-index: 0;
		}
		&.video-end {
			min-height: 100px;
			video {
				display: none;
			}
		}
	}

	nav.bar.history {
		display: none;
	}

	&.scrolled {
		header#top {
			margin-top: -$barWidth;
		}
		nav.bar.history {
			display: block;
		}
	}

	.activity {
		padding: 1px;
		padding-bottom: 0;
		.card {
			> a > div {
				padding: 0 $padding;
			}
			h5 {
				margin: $padding 0;
			}
		}
		section {
			ul {
				position: sticky;
				top: $barWidth * 1.15;
			}
		}
	}

	.archive-bar {
		display: flex;
		padding: 0 $padding;
	}

	#archive-preview {

		section {
			margin-top: 2rem;
			margin-bottom: 2rem;
			> h4 {
				padding: $padding-text-side;
			}
		}

		padding: $padding-box;
		.cards.grid {
			padding: 0;
		}

	}

	.archive-search {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 6rem;
		margin-bottom: 9rem;
		h2 {
			padding-left: 0;
		}
		form {
			background-color: $dark;
			margin-top: 1rem;
			display: flex;
			.input {
				flex: 1;
			}
			input {
				outline: none;
			}
		}
	}

}

@media (max-width: 38rem) {
    body.home header#top h1 {
        font-size: calc(15vw - 0.6rem);
    }
}

//
// archive page
//
body.archive {

	main {
		input {
			width: 100%;
			outline: none;
			background-color: $dark;
			&:focus {
				background-color: $blue;
			}
			&::placeholder {
				color: $black;
			}
		}
		button {
			width: 100%;
			background-color: $dark;
			&:hover {
				background-color: $blue;
			}
		}
		form {
			margin-top: 1rem;
			.input {
				margin-bottom: 2px;
			}
		}
		.filters {
			.card {
				background-color: $dark;
				figure {
					display: none;
				}
			}
			.active {
				background-color: $blue;
			}
		}
	}

}

//
// item page
//
body.item.building,
body.file {
	header h1 {
		font-family: $mono;
	}
}
body.file {
	header h1 {
		font-size: $font-medium;
	}
}

.tab.meta {
	i {
		font-style: inherit;
		display: inline-block;
		margin: 0 0.2em;
	}
}

main {
	> .content {
		padding: $padding $padding-double;
	}
	header {
		.subtitle + div {
			border-top: $border-thin;
		}
	}
	.tab + .tab {
		margin-top: 1rem;
	}
}

body.multipanel {

	.tab + .tab {
		border-top: $border-thin;
	}
	.tab.info {
		border-top: none;
		.section--header {
			display: none;
		}
	}

	.tab .cards {
		padding: 0;
	}

	.tab.meta dl.table {
		font-size: $font-small;
	}
	.tab.info,
	.tab.meta {
		.section--content {
			font-family: $mono;
		}
	}
	// .tab.accordion + .tab.meta,
	.tab.accordion + .tab.list,
	.tab.info + .tab.meta {
		margin-top: 0;
	}
}
body.entity.black {
	.subtitle + div {
		border-color: $white;
	}
	.tab .table {
		border-color: $dark;
	}
	.tab + .tab {
		border-color: $white;
	}
}

//
// content in cda bar
//
body.about,
.bar.cda .about {
	.content {
		padding: $padding-double;
	}
	section {
		margin-bottom: 2rem;
	}
	.content li {
		margin: 0.3em 0;
		h4 {
			margin: 0;
		}
	}
	.supporter-logos {
		figure {
			margin-bottom: $padding-double;
		}
		img {
			width: auto;
			height: 3.5rem;
		}
	}
	.footer-nav {
		font-size: $font-small;
		li {
			display: inline-block;
			a {
				margin-right: $padding-text-inside;
			}
		}
	}
	h4 {
		margin: $padding-text;
	}

}

body.liebling-house {
	main {
		.invitation {
			border-top: none !important;
			button,
			.button {
				display: block;
				width: 100%;
			}
		}
		.tab.info {
			div:first-child {
				border-top: none;
			}
		}
	}
}
body.liebling-house {
	&.tour,
	&.tourstop {
		h1 {
			hyphens: auto;
		}
	}
}
