//
// list layout
//
$thumbnailSize: 2.5em;
.list .card,
.card.list-element {
	> a {
		min-height: $thumbnailSize;
	}
	figure {
		width: $thumbnailSize;
		height: $thumbnailSize;
		display: flex;
		overflow: hidden;
		img {
			object-position: center;
			object-fit: cover;
		}
	}
	.title {
		flex: 1;
		align-items: center;
		padding-top: 2px;
		padding-bottom: 2px;
	}
}
