//
// Archive Bar bottom
//

nav.bar.archive {

	position: sticky;
	bottom: -1px;
	z-index: 1000;
	background-color: $black;
	color: $white;

	.keywords a:after {
		content: '→';
		padding-left: 0.2em;
	}

}
body {
	// &.archive,
	&.home {
		nav.bar.archive {
			display: none;
		}
	}
}
