//
// CDA Bar left
//

body {
	padding-left: $barWidth;
	.page-wrapper {
		transform: translateX(0);
		transition: transform 400ms ease;
	}
}
.bar.cda {
	position: fixed;
	height: 100%;
	width: $barWidth;
	top: 0;
	left: 0;
	z-index: 3000;

	cursor: pointer;
	color: $white;
	background-color: $black;
	padding: 0;

	transition: width 400ms ease;

	.glass {
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		display: none;
		z-index: 2999;
	}
	&.open {
		.glass {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	a.logo {
		display: block;
		padding: 0.66rem 0.21rem;
		transform: translateX(0);
		transition: transform 400ms ease;
		svg {
			width: auto;
			height: $barWidth * 2;
			rect, path {
				fill: $white;
			}
		}
		&.full {
			display: none;
			svg {
				height: $barWidth * 3;
			}
		}
	}

	button.bar-close {
		display: none;
		top: 1rem;
		right: 1rem;
		position: absolute;
		font-size: 1.2rem;
	}

	&.open {
		border-right: $border-white;
		cursor: default;
		.panel {
			display: block;
		}
	}

}

//
// open close mechanics
//

.bar.cda.open {
	width: 85vw;
	a.logo {
		&.abbr {
			display: none;
		}
		&.full {
			display: block;
		}
	}
	.bar-close {
		display: block;
	}
}
.bar.cda.open ~ .page-wrapper {
	transform: translateX(75%);
}

@media screen and (max-width: 768px){
	.bar.cda.open ~ .page-wrapper {
		background-color: $white;
		* {
			opacity: 0;
		}
	}
}
@media screen and (min-width: 768px){
	.bar.cda.open {
		width: 50vw;
	}
	.bar.cda.open ~ .page-wrapper {
		transform: translateX(50%);
	}
}

//
// logo adjustments
//
body.home {
	.bar.cda a.logo {
		transform: translateY(0.6rem);
	}
}
body.home.scrolled {
	.bar.cda a.logo {
		transform: translateY(0);
	}
}
body.light,
body.white {
	.bar.cda a.logo {
		padding-right: 3px;
	}
}
