//
// Tourstop Pagination
//

nav.pagination {

	background-color: $blue;
	color: $black;
	font-family: $mono;
	width: unset;
	height: unset;

	li {
		display: inline-block;
	}

	a {
		.title {
			display: none;
		}
	}

	a:hover {
		color: $blue-active;
	}
	li.current {
		color: transparent;
		a:hover {
			color: transparent;
		}
		a:after {
			content: '';
			display: block;
			background-color: $white;
			width: 0.7em;
			height: 0.7em;
			border-radius: 1em;
			margin-top: -0.9em;
		}
	}
}
